{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram sign in</title>
{% endblock%}

{% block container %}

{% if form.errors %}
    <p class="text-center alert alert-danger">
        Invalid credentials. Please, try again.
    </p>
{% endif%}

<form method="POST" class="form" id="login-form" action="{% url "users:login" %}">
    {% csrf_token %}

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" />
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Sign in!</button>
    </div>
</form>

<p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here.</a></p>

{% endblock %}